body {
    margin: 0 auto;
    font-family: Arial;
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/*******************************************
	TEXT
*****************************************/
.container {
	position: relative;
	overflow: hidden;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 80px;
}

p{
	font-size: 20px;
	margin: 20px;

}
/* IMAGE */
img {
	width: inherit;
	height: inherit;
}
/*** RIGHT FLOAT IMAGES ***/
#cf1 {
  float: right;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf1 img {
  position:absolute;
  right:0;
  transition: opacity 1s ease-in-out;
}

 @keyframes cf1FadeInOut {
  0% {
  opacity:0;
}
25% {
opacity:0;
}
50% {
opacity:0;
}
75% {
opacity:1;
}
100% {
opacity:1;
}
}

#cf1 img.middle {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;
animation-direction: alternate;
}

#cf1 img.top {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

/*** LEFT FLOAT IMAGES ***/
#cf {
  float: left;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
}

 @keyframes cfFadeInOut {
  0% {
  opacity:0;
}
25% {
opacity:0;
}
50% {
opacity:0;
}
75% {
opacity:1;
}
100% {
opacity:1;
}
}

#cf img.middle {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;
animation-direction: alternate;
}

#cf img.top {
animation-name: cfFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

/***********************************************************************
 *  Footer 
 **********************************************************************/
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#7e7e7e;
}
.footer_resize p {
	margin:10px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#6baed9;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#6baed9;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}


/*Shiny-Css-Buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #56B870; 
    background: linear-gradient(top, #56B870 0%, #a5c956 100%); 
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; 
    background: linear-gradient(top, #C655BE 0%, #cf0404 100%);
}

/***********************************************************************
 *  Black Background
 **********************************************************************/
.black {
    background: #161616; 
    background: linear-gradient(top, #161616 0%, #febf04 100%);
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; 
    background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
}
