/**{
	margin: 0;
	padding: 0;
}**/

body{
	font-family: 'Montserrat', sans-serif;
	background-image:url(./img/header.jpg);
	background-size: cover;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  	width: 100%;
  	height: 100%
}

/*FORM*/
.container{
  height: 100vh;
  display: flex;
  position: relative;
}
h1 {
  font-size: 3rem;
  color: #e2dbdb;
}
h3{
  font-size: 2rem;
  color: #e2dbdb;
}
form{
	color: #F05F44;
  max-width: 700px;
  width: 100%;
  height: 60vh;
  position: absolute;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}
.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

}
input{
	border: 1px solid #ee4b08;
	border-radius: 200px;
  padding: 5px;
  margin: 7px;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
button{
  margin: 10px;
  width: 20rem;
}
/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}